logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/.idea_modules
/.settings
activator*
RUNNING_PID
.DS_Store
/bin
.cache
.classpath
.project
.sbtserver/
.tmpBin
project/.sbtserver
project/.sbtserver.lock
project/play-fork-run.sbt
project/sbt-ui.sbt
