@(brokerMetrics: Option[kafka.manager.model.ActorModel.BrokerMetrics])(implicit messages: play.api.i18n.Messages)
<table class="table">
    <tr>
        <th>Rate</th>
        <th>Mean</th>
        <th>15&nbsp;min</th>
    </tr>
    <tr class="metric-row" name="messages in sec">
        <td>Messages in /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.messagesInPerSec.formatMeanRate)</span>
        </td>
        <td>
            <span class="badge">@brokerMetrics.map(_.messagesInPerSec.formatFifteenMinuteRate)</span>
        </td>
    <tr>
    <tr class="metric-row" name="bytes in sec">
        <td>Bytes in /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.bytesInPerSec.formatMeanRate)</span>
        </td>
        <td>
            <span class="badge">@brokerMetrics.map(_.bytesInPerSec.formatFifteenMinuteRate)</span>
        </td>
    <tr>
    <tr class="metric-row" name="bytes out sec">
        <td>Bytes out /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.bytesOutPerSec.formatMeanRate)</span>
        </td>
        <td>
            <span class="badge">@brokerMetrics.map(_.bytesOutPerSec.formatFifteenMinuteRate)</span>
        </td>
    <tr>
    <tr class="metric-row" name="bytes rejected sec">
        <td>Bytes rejected /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.bytesRejectedPerSec.formatMeanRate)</span>
        </td>
        <td>
            <span class="badge">@brokerMetrics.map(_.bytesRejectedPerSec.formatFifteenMinuteRate)</span>
        </td>
    <tr>
    <tr class="metric-row" name="failed fetch request sec">
        <td>Failed fetch request /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.failedFetchRequestsPerSec.formatMeanRate)</span>
        </td>
        <td>
            <span class="badge">@brokerMetrics.map(_.failedFetchRequestsPerSec.formatFifteenMinuteRate)</span>
        </td>
    <tr>
    <tr class="metric-row" name="failed produce request">
        <td>Failed produce request /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.failedProduceRequestsPerSec.formatMeanRate)</span>
        </td>
        <td>
            <span class="badge">@brokerMetrics.map(_.failedProduceRequestsPerSec.formatFifteenMinuteRate)</span>
        </td>
    <tr>
    <tr class="metric-row" name="process cpu load">
        <td>Process CPU Load</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.oSystemMetrics.formatProcessCpuLoad)</span>
        </td>
        <td></td>
    <tr>
    <tr class="metric-row" name="system cpu load">
        <td>System CPU Load</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.oSystemMetrics.formatSystemCpuLoad)</span>
        </td>
        <td></td>
    <tr>
</table>