@(brokerMetrics: Option[kafka.manager.ActorModel.BrokerMetrics])
<table class="table">
    <thead>
    <tr>
        <th>Rate</th>
        <th>Mean</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Messages in /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.messagesInPerSec.formatMeanRate)</span>
        </td>
    <tr>
    <tr>
        <td>Bytes in /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.bytesInPerSec.formatMeanRate)</span>
        </td>
    <tr>
    <tr>
        <td>Bytes out /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.bytesOutPerSec.formatMeanRate)</span>
        </td>
    <tr>
    <tr>
        <td>Bytes rejected /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.bytesRejectedPerSec.formatMeanRate)</span>
        </td>
    <tr>
    <tr>
        <td>Failed fetch request /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.failedFetchRequestsPerSec.formatMeanRate)</span>
        </td>
    <tr>
    <tr>
        <td>Failed produce request /sec</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.failedProduceRequestsPerSec.formatMeanRate)</span>
        </td>
    <tr>
    <tr>
        <td>Free Physical Memory Size</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.oSystemMetrics.formatFreePhysicalMemory)</span>
        </td>
    <tr>
    <tr>
        <td>Free Swap Space Size</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.oSystemMetrics.formatFreeSwapSpace)</span>
        </td>
    <tr>
    <tr>
        <td>Process CPU Load</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.oSystemMetrics.formatProcessCpuLoad)</span>
        </td>
    <tr>
    <tr>
        <td>System CPU Load</td>
        <td>
            <span class="badge">@brokerMetrics.map(_.oSystemMetrics.formatSystemCpuLoad)</span>
        </td>
    <tr>
    </tbody>
</table>